        {{#each this}}
        <div class="wrapper">
        <h3 class="sgn-key">{{@key}}</h3>
            {{#each this}}
            <div id="{{idSanitise id}}_container">
                <a class="sgn-word" role="button" data-toggle="collapse" id="{{idSanitise id}}" href="#{{idSanitise id}}_collapsible" aria-expanded="false" aria-controls="collapseExample">
                  {{word}}
                </a>
                <div class="sgn-collapsable collapse" id="{{idSanitise id}}_collapsible">
                  <div class="well">
                    {{#if common}}
                        <div class="sgn-common glyphicon glyphicon-asterisk"></div>
                    {{/if}}
                    {{#if video}}
                        <a class="afterglow" href="#{{idSanitise id}}_video"><div class="sgn-video glyphicon glyphicon-film"></div></a>
                        <video id="{{idSanitise id}}_video" width="360" height="640" data-autoresize="fit" data-autoclose="true">
                            <source type="video/mp4" src="video/{{idSanitise id}}.m4v"/>
                        </video>
                    {{/if}}
                    {{#if makaton}}
                        <div><span class="sgn-highlight">Makaton:</span> {{makaton}}</div>
                    {{/if}}
                    {{#if alex}}
                        <div><span class="sgn-highlight">Alex:</span> {{alex}}</div>
                    {{/if}}
                    {{#if says}}
                        <div><span class="sgn-highlight">Says:</span> {{says}}</div>
                    {{/if}}
                    {{#if notes}}
                        <div><span class="sgn-highlight">Notes:</span> {{notes}}</div>
                    {{/if}}
                    {{#if see}}
                        <div><span class="sgn-highlight">See also:</span>
                        {{#each see}}
                            <a href="#{{idSanitise this}}">{{this}}</a>{{#unless @last}},{{/unless}}
                        {{/each}}
                        </div>
                    {{/if}}
                    <br style="clear: both"/>
                  </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/each}}